<header>
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit two-fifths center-on-mobiles">
      <h1>
        <a href="{{ site.url }}/">
          <span>Pythia</span>
          <img src="{{ site.url }}/img/logo.png" width="300" height="125" alt="">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit three-fifths hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
