<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} &bull; The Pythia project</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/screen.css" />
  <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" />
  <script src="{{ site.url }}/js/modernizr-2.5.3.min.js"></script>
</head>
